
*~
*.orig
build.properties
test-output/
**/target/**
.springBeans
.classpath
.settings
.project
.gradle
*.launch
dist
buildSrc/build
testng.xml
scripts/eclipse.sh
tools/ui-message-jrebel/build
**/bin**
.DS_Store
*.iml
.idea/
build/
gradle/
gradlew
gradlew.bat
app/out/
core/out/
glossary/out/
mongo/out/
test-common/out/
tm/out/
**/out/
tools/**/bin/
